/*
 * Skin: Universe
 * -----------
 */
body.skin-universe {
  background-image: url("/assets/img/skins/universe.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#header{
  background-color: #fff0 !important;
}
.content-wrapper, .right-side{
  background-color: #fff0 !important;
}
/* skin-universe navbar */
.skin-universe .main-header {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.skin-universe .main-header .navbar-toggle {
  color: #333;
}
.skin-universe .main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #fff0;
}
.skin-universe .main-header .navbar {
  background-color: #fff0;
}
.skin-universe .main-header .navbar .nav > li > a {
    color: #b8c7ce;
}
.skin-universe .main-header .navbar .nav > li > a:hover,
.skin-universe .main-header .navbar .nav > li > a:active,
.skin-universe .main-header .navbar .nav > li > a:focus,
.skin-universe .main-header .navbar .nav .open > a,
.skin-universe .main-header .navbar .nav .open > a:hover,
.skin-universe .main-header .navbar .nav .open > a:focus,
.skin-universe .main-header .navbar .nav > .active > a {
  background: #fff0;
    color: #fff;
}
.skin-universe .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-universe .main-header .navbar .sidebar-toggle:hover {
  color: #999;
  background: #fff0;
}
.skin-universe .main-header .navbar > .sidebar-toggle {
  color: #333;
  border-right: 1px solid #fff0;
}
.skin-universe .main-header .navbar .navbar-nav > li > a {
  border-right: 1px solid #fff0;
}
.skin-universe .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-universe .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #fff0;
  border-right-width: 0;
}
.skin-universe .main-header > .logo {
  background-color: #fff0;
  color: #fff;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #fff0;
}
.skin-universe .main-header > .logo:hover {
  background-color: #fff0;
}
@media (max-width: 767px) {
  .skin-universe .main-header > .logo {
    background-color: #fff0;
    color: #fff;
    border-bottom: 0 solid transparent;
    border-right: none;
  }
  .skin-universe .main-header > .logo:hover {
    background-color: #fff0;
  }
}
.skin-universe .main-header li.user-header {
  background-color: #3a9a8c;
}
.skin-universe .content-header {
  background: transparent;
  box-shadow: none;
}
.skin-universe .wrapper,
.skin-universe .main-sidebar,
.skin-universe .left-side {
  background-color: #fff0;
}
.skin-universe .user-panel > .info,
.skin-universe .user-panel > .info > a {
  color: #fff;
}
.skin-universe .sidebar-menu > li.header {
  color: #eee;
  background: #fff0;
}
.skin-universe .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-universe .sidebar-menu > li:hover > a,
.skin-universe .sidebar-menu > li.active > a {
  color: #fff;
  background: #fff0;
  border-left-color: #fff;
}
.skin-universe .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #fff0;
}
.skin-universe .sidebar a {
  color: #b8c7ce;
}
.skin-universe .sidebar a:hover {
  text-decoration: none;
}
.skin-universe .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-universe .treeview-menu > li.active > a,
.skin-universe .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-universe .sidebar-form {
  border-radius: 3px;
  border: 1px solid #fff0;
  background-color: #fff0;
  margin: 10px 10px;
}
.skin-universe .sidebar-form input[type="text"],
.skin-universe .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff0;
  border: 1px solid transparent;
  height: 35px;
}
.skin-universe .sidebar-form input[type="text"] {
  color: #fff0;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-universe .sidebar-form input[type="text"]:focus,
.skin-universe .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff0;
  color: #fff0;
}
.skin-universe .sidebar-form input[type="text"]:focus + .input-group-btn {
  background: #fff0;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-universe .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-universe .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-universe .pace .pace-progress {
  background: #fff0;
}
.skin-universe .pace .pace-activity {
  border-top-color: #222;
  border-left-color: #222;
}
.layui-layer-fast .layui-layer-title {
  background: black !important;
  color: #fff !important;
  border-bottom: none;
}
.right-side-float-skin{
  background: black !important;
}
#secondnav .nav-addtabs > li.active {
  border: black 0 solid;
}
#secondnav .nav-addtabs > li:hover,
#secondnav .nav-addtabs > li:focus {
  border: black 0 solid;
}
/*# sourceMappingURL=skin-universe.css.map */