<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{$site.name}</title>
        <link rel="shortcut icon" href="__CDN__/favicon.ico" />
        <!-- Bootstrap Core CSS -->
        <link href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="__CDN__/assets/css/index.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll acolor" href="#page-top">{$site.name}</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                    <ul class="nav navbar-nav navbar-right">
                    <li><a class="acolor" href="{$easyadmin.url}" target="_blank">{:__('Home')}</a></li>
                    <li><a class="acolor" href="{$easyadmin.cloud_url}/app" target="_blank">{:__('应用')}</a></li>
                    <li><a class="acolor" href="{$easyadmin.cloud_url}/addon" target="_blank">{:__('插件')}</a></li>
                    <li><a class="acolor" href="{$easyadmin.gitee_url}" target="_blank">{:__('开源')}</a></li>
                    <li><a class="acolor" href="{$easyadmin.demo_url}" target="_blank">{:__('Demo')}</a></li>
                    <li><a class="acolor" href="{$easyadmin.QQqun}" target="_blank">{:__('QQ群')}</a></li>
                    <li><a class="acolor" href="{$easyadmin.ask_url}" target="_blank">{:__('Forum')}</a></li>
                    <li><a class="acolor" href="{$easyadmin.doc_url}" target="_blank">{:__('Docs')}</a></li>
                </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <main id="mainbody">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="index-gallery">
                            <div>
                                <img src="/assets/img/index-back.png" style="float:left;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="index-text">
                            <div>
                                <h1 class="acolor">{$site.name}</h1>
                                <p style="color:#adb9e0;line-height:30px;">EasyAdmin是一款基于ThinkPHP6+Bootstrap3的全插件式框架，使用插件模式开发，拥有强大的扩展能力和完善的插件开发支持，可用于cms、商城、采集、微信、小程序、app、api等各种类型的网站开发，是一款全能型的开源框架。</p>
                                <div>
                                    <a href="{$easyadmin.url}" target="_blank" class="btn bg-primary btn-xl btn-round-lg">{:__('官方网站')}</a>
                                    <a href="{$easyadmin.doc_url}" target="_blank" class="btn bg-primary btn-xl btn-round-lg" style="background: linear-gradient(#fd5252, #fd3939);">{:__('开发文档')}</a>
                                    {if addon_exist('user')}
                                    <a href="/user" class="btn bg-primary btn-xl btn-round-lg" style="background: linear-gradient(#fdcc52, #fdc539);">{:__('会员中心')}</a>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <p>Copyright @ 2019~{:date('Y',time())} <a class="site" href="{$easyadmin.url}" target="_blank">{$site.name} </a> 版权所有 <a class="site" href="https://beian.miit.gov.cn" target="_blank">{$site.beian}</a></p>
            </div>
        </footer>

        <script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>

        <script src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>

</html>
